.startQuiz {
    color: red;
}

body {
    text-align: center;
    color: blue;
    background: linear-gradient(rgb(245, 195, 232), rgb(241, 236, 227));
}

ul {
    text-align: center;
    list-style: inside;
}

.display-score {
    border: 1px solid black;
    height: 70px;
    width: 100px;
}

.header {
    display: flex;
    justify-content: flex-end;
}

#startQuiz {
    height: 100px;
    width: 100px;
    font-style: italic;
    font-size: 30px;
}